*.exe
*.apk
.*
*.tmx.
*.glsl
screenshot.png
*~
*.js
*.js.map

src/examples/*/android
src/examples/*/settings.gradle
src/examples/*/build.gradle
src/examples/*/gradlew*
*.html
src/examples/*/gradle

src/examples/*/3dmodel
src/examples/*/audio
src/examples/*/cube
src/examples/*/basic
src/examples/*/gtkbuilder
src/examples/*/gtkgui
src/examples/*/gui
src/examples/*/instancing
src/examples/*/lines3d
src/examples/*/multipletouches
src/examples/*/physics
src/examples/*/shape2d
src/examples/*/spriteanimation
src/examples/*/textinput
src/examples/*/textrendering
src/examples/*/tiledmap
src/examples/*/tweens
src/examples/*/tweens3d