*.sublime-project
*.sublime-workspace
*gohomeengine.sublime-workspace*
*gohomeengine.sublime-project*
*.exe
*.apk
.*
*bsreplacer
*fcbreplacer
*fcnreplacer
*fsreplacer
*basic
*3dmodel
*cube
*gtkgui
*lines3d
*multipletouches
*textinput
*textrendering
*tweens
*tweens3d
*spriteanimation