*.sublime-project
*.sublime-workspace
*gohomeengine.sublime-workspace*
*gohomeengine.sublime-project*
*.exe
*.apk
.*
*bsreplacer
*fcbreplacer
*fcnreplacer
*fsreplacer
*basic
!image.png
*3dmodel
!image.png
*cube
!image.png
*gtkgui
!image.png
*lines3d
*multipletouches
*textinput
*textrendering
*tweens
*tweens3d
*spriteanimation
*physics
*shape2d
*tiledmap
*gui
*audio
*gtkbuilder
!image.png
*instancing
*.tmx.
*.glsl
screenshot.png
*~
